.edit-post-meta-boxes-main {
	filter: drop-shadow(0 -1px rgba($color: #000, $alpha: 0.133)); // 0.133 = $gray-200 but with alpha.
	// Windows High Contrast mode will show this outline, but not the shadow.
	outline: 1px solid transparent;
	background-color: $white;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	padding-block-start: $button-size-compact;
}

.edit-post-meta-boxes-main__presenter {
	display: flex;
	box-shadow: 0 $border-width $gray-300;
	// Windows High Contrast mode will show this outline, but not the shadow.
	outline: 1px solid transparent;
	position: relative;
	// Re-resizable adds an invisible overlay during resizes (apparently meant to avoid text selections)
	// and this has to appear in front of it or else click events will be blocked on touch devices.
	z-index: 10000;
	inset: 0 0 auto;
	height: $button-size-compact;
	padding-inline: 0 $grid-unit-15;
	// There’s no scrolling but in order to align horizontally with the meta box contents - a
	// scrollable area - the gutter is forced.
	scrollbar-gutter: stable;
	overflow: auto;

	// Style reset for both toggle and separator buttons.
	> button {
		appearance: none;
		padding: 0;
		border: none;
		outline: none;
		background-color: transparent;
	}

	> button[aria-expanded] {
		position: relative;
		cursor: pointer;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-inline: $grid-unit-30 $grid-unit-20;

		&:is(:hover, :focus-visible) {
			color: var(--wp-admin-theme-color);
		}
		&:focus-visible::after {
			content: "";
			position: absolute;
			inset: $grid-unit-05 $grid-unit-10;
			border-radius: $radius-small;
			@include button-style__focus();
		}
		> svg {
			fill: currentColor;
		}
	}

	button[role="separator"] {
		cursor: row-resize;
		width: $grid-unit-80;
		margin: auto;
		position: absolute;
		inset: 0;

		&::before {
			content: "";
			background-color: $gray-300;
			// Windows High Contrast mode will show this outline, but not the background-color.
			outline: 2px solid transparent;
			outline-offset: -2px;
			position: absolute;
			inset-block: calc(50% - #{$grid-unit-05} / 2) auto;
			transform: translateX(-50%);
			width: inherit;
			height: $grid-unit-05;
			border-radius: $radius-small;
			@media not (prefers-reduced-motion) {
				transition: width 0.3s ease-out;
			}
		}

		&:is(:hover, :focus-visible)::before {
			background-color: var(--wp-admin-theme-color);
			width: $grid-unit-80 + $grid-unit-20;
		}
	}

	.components-button {
		align-self: center;
	}
}

// Enlarge the toggle/resizable hit area on touch devices.
@media (pointer: coarse) {
	.edit-post-meta-boxes-main {
		padding-block-start: $button-size;
	}
	.edit-post-meta-boxes-main__presenter {
		height: $button-size;
	}
}

.edit-post-meta-boxes-main__liner {
	// Enable scrolling only for the split view.
	.edit-post-meta-boxes-main & {
		overflow-y: scroll;
		flex: 1; // Makes the scrollbar gutter (when visible) extend to full parent height when the pane is oversized.
	}
	// Keep the contents behind the resize handle.
	isolation: isolate;

	// While resizing override hidden attribute in case starting from closed state.
	.is-resizing.edit-post-meta-boxes-main & {
		display: unset;
	}
}

.is-scroll-yoked {
	.edit-post-meta-boxes-main {
		height: auto !important;
		max-height: none !important;
		position: sticky !important;
		overflow: unset;
	}

	.edit-post-meta-boxes-main__presenter-wrapper {
		position: absolute;
		inset: 0;
		pointer-events: none;
	}

	.edit-post-meta-boxes-main__presenter {
		display: grid;
		grid-template: auto / minmax(7em, 1fr) 3fr minmax(7em, 1fr);
		gap: $grid-unit-10;
		align-items: center;
		// justify-content: space-between;
		padding-inline: $grid-unit-20 $grid-unit-15;
		overflow: unset;
		position: sticky !important; // Overrides Re-resizable’s inline style.
		top: 0;
		color: $gray-900;
		background-color: $white;

		> button {
			pointer-events: auto;
		}

		> button:last-of-type {
			margin-inline: $grid-unit-05 0;	
			justify-self: end;
		}
	}

	.edit-post-meta-boxes-main__liner {
		overflow-y: hidden;
	}
}
