.block-editor-block-variation-transforms {
	margin: 0 $grid-unit-20 $grid-unit-20 52px;

	.components-dropdown-menu__toggle {
		box-shadow: inset 0 0 0 1px $gray-400;
		min-height: 36px;
		gap: $grid-unit-05;
		padding-inline: $grid-unit-15 $grid-unit-10;
	}
}

.block-editor-block-variation-transforms__popover .components-popover__content {
	min-width: 230px;
}
