// In case the canvas is not iframe’d, the main meta boxes need to clear any floating content.
.edit-post-layout__metaboxes {
	clear: both;
}

// Only when the split view is active the visual editor should allow shrinking and
// its main size should be zero.
.has-metaboxes .interface-interface-skeleton__content:has(.edit-post-meta-boxes-main) .editor-visual-editor {
	flex-shrink: 1;
	flex-basis: 0%;
}

.is-scroll-yoked .interface-interface-skeleton__content:has(.edit-post-meta-boxes-main) {
	container: wp edit post skeleton content / size;

	.is-focusing-regions &::after {
		top: var(--wp-edit-post-content-region-top, 0);
		bottom: auto;
		height: calc(100% - $button-size-compact);
		flex-shrink: 0;

		// The meta boxes pane’s sticking portion grows with coarse pointers.
		@media (pointer: coarse) {
			height: calc(100% - $button-size);
		}
	}

	.editor-visual-editor {
		flex-shrink: 0;
		flex-basis: calc(100% - $button-size-compact);
		position: sticky;
		top: 0;
		margin-block: 0 calc($button-size-compact + var(--wp-edit-post-meta-boxes-main-content-height, 0px));

		// The meta boxes pane’s sticking portion grows with coarse pointers.
		@media (pointer: coarse) {
			flex-basis: calc(100% - $button-size);
			margin-block: 0 calc($button-size + var(--wp-edit-post-meta-boxes-main-content-height, 0px));
		}
	}
}

.has-metaboxes .editor-visual-editor.is-iframed {
	isolation: isolate;
}

// Adjust the position of the notices
.components-editor-notices__snackbar {
	position: fixed;
	right: 0;
	bottom: 24px;
	padding-left: 24px;
	padding-right: 24px;
}

@include editor-left(".edit-post-layout .components-editor-notices__snackbar");
