.edit-site-editor__editor-interface {
	opacity: 1;
	transition: opacity 0.1s ease-out;
	@include reduce-motion("transition");

	&.is-loading {
		opacity: 0;
	}
}

.edit-site-editor__toggle-save-panel {
	box-sizing: border-box;
	width: $sidebar-width;
	background-color: $white;
	border: 1px dotted $gray-300;
	padding: $grid-unit-30;
	display: flex;
	justify-content: center;
}

// Fills space left by the editor header’s back button when transitioning to view mode.
// The animation is used merely to delay the application because if applied immediately
// the button is still present.
html:is(.canvas-mode-view-transition) .editor-header {
	animation: editor-header-back-button-space-filler 1ms 1ms 1 forwards;
}

@keyframes editor-header-back-button-space-filler {
	to {
		margin-inline-start: $header-height;
	}
}
